*{
  font-family:  Arial,Helvetica,sans-serif;
}
#menu, #menu ul, #menu ul ul{
  cursor: pointer;
  position: relative;
  padding: 0;
  width: 150px;
}
#menu{
  display: none;
  border: 1px solid rgba(51, 51, 51, .35);
  /*max-height: 96px;*/
  /*overflow-y: hidden;*/
}
#menu ul{
  display: none;
}
#menu li{
  list-style-type: none;
  position: relative;
  padding: 3px 10px;
}
#menu li ul{
  position: absolute;
  left: 100%;
  top: 0;
  padding: 0;
}
.disabled{
  color: rgba(51, 51, 51, .35) !important;
  cursor: default;
}
.disabled:hover{
  color: rgba(51, 51, 51, .35) !important;
  color: rgb(255, 255, 255) !important;
}
#menu > li:hover, #menu > li > ul > li:hover, #menu > li > ul > li > ul > li:hover{
  background-color: blue;
  color: rgb(255, 255, 255);
}
#menu > li:hover li{
  background: white;
  color: #000;
}
#menu.left_side_submenu li ul{
  left: calc(-100% - 2px);
}
#menu.up_side_submenu ul{
  bottom: calc(100% - 24px);
  top: auto;
}
.has_submenu{
  background: url(right-chevron.png) no-repeat 135px;
  -webkit-background-size: 10px;
  background-size: 10px;
}